

html, body{
  width:100%;
  height:100%;
  box-sizing: border-box;

  --main-bg-color:  rgb(50, 50, 50);
  --main-line-color: rgb(200, 200, 200);

  --palette-width: 62px;
}

body {
  background-color: var(--main-bg-color);
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

/*
#svg {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
}

#main-div {
  overflow: scroll;
  min-width: 100vw;
  min-height: 100vw;
  width: fit-content;
  height:fit-content;
}
*/

#forms {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 100px;
  height: 100vh;
}

#floating-forms {
  z-index: 100;
}


.symbolist_selected {
  stroke-width: 1 !important;
  stroke: blue !important;
}

.symbolist_selected div {
  border: 1px solid blue;
}

.symbolist_selected line {
  stroke: blue !important;
}

.symbolist_selected rect {
  stroke: blue !important;
}

.symbolist_selected path {
  stroke: blue !important;
}

.symbolist_selected image {
   filter: invert(7%) sepia(100%) saturate(7154%) hue-rotate(247deg) brightness(114%) contrast(139%);
}


.current_context > .display rect {
  stroke-width: 1 !important;
  stroke: rgba(255,0,255,0.25) !important;
}

/*
.current_context .display line {
  stroke-width: 1 !important;
  stroke: yellow !important;
}
*/

.symbolist_handle {
  fill: none;
  stroke-width: 1 !important;
  stroke: black;
  width: 8px;
  height: 8px;
  transform: translate(-4px, -4px);
}

.symbolist_log {
  border-top : 1px solid var(--main-line-color);
  left: 62px;
  top: calc(100vh - 20px);
  width: calc(100vw - (62px * 2));
  height: 20px;
  font-family: helvetica;
  font-size: 10px;
  color: white;  
}

.symbolist_log span {
  margin: 10px;
}

.scrollbar {
  background-color: var(--main-bg-color);
  position: fixed;

}

#x_scrollbar {
  width: calc(100% - 15px - 63px - 1px);
  height: 15px;
  bottom: 0px;
  left: 63px;
  border-top : 1px solid var(--main-line-color);
  border-right : 1px solid var(--main-line-color);

}

#y_scrollbar {
  width: 15px;
  height: calc(100% - 15px - 1px);
  position: fixed;
  top: 0px;
  right: 0px;
  border-left : 1px solid var(--main-line-color);
  border-bottom : 1px solid var(--main-line-color);

}

.scrollbar_handle {
  height: 15px;
  width: 15px;
  fill: var(--main-line-color);
  position: absolute;
}

#reset_view {
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 15px;
  width: 15px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-line-color);
  font-size: 16px;
}


.palette {  
  background-color: rgba(0,0,0,0.2);

  color : white;
  border-right : 1px solid var(--main-line-color);
 
  top: 0px;
  left: 0px;
  width: var(--palette-width);
  height: 100vh;
  
}

.palette div {
  position: relative;

  border-bottom : 1px solid var(--main-line-color);
  border-top : 1px solid var(--main-line-color);;

  width: auto;
  height: auto;
}

.palette div .selected {
  border : 1px solid white;
  background-color: gray;
}

.palette-tools {
  background-color: rgba(255, 255, 255, 0.0);
}


.palette-tools div {
  background-color: inherit;

  border : 1px solid var(--main-line-color);
  position: relative;
 
  width: auto;
  height: 40px;

  margin: 10%;
  padding: 4%;

}

.palette-svg {
  width: 40px;
  height: 40px;
}

.palette-symbols {
  background-color: rgba(255, 255, 255, 0.1);
}

.palette-symbols div {
  background-color: inherit;

  border : 1px solid var(--main-line-color);
  position: relative;
 
  width: auto;
  height: 40px;

  margin: 10%;
  padding: 4%;

}

.palette svg {
  z-index: 10;
}

.sprite {
  pointer-events: none;
}

.infobox {
  background-color: rgba(255, 255, 255, 0.75);
  border : 1.5px solid black;
  border-radius: 10px;
  font-family: helvetica;
  font-size: 12px;
  position: absolute;
  
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: space-between;
  
}

.toolitem {
  background-color: rgba(255, 255, 255, 0.75);
  border : 1.5px solid black;
  border-radius: 10px;
  font-family: helvetica;
  font-size: 12px;
  position: absolute;
  
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: space-between;
  
  left: calc(var(--palette-width) + 2px);
  top: 0px;
}

.toolitem button {
  padding: 5px;
  margin: 0px 5px 5px 5px;
}


.infoparam {
  padding: 5px 5px 5px 5px;
}

.infovalue-noedit {
  padding: 5px 5px 5px 5px;
  color: gray;
  font-style: italic;
}

.infobox .infovalue {
  margin: 2.5px 10px 0px 5px;
  padding: 0px 5px 0px 0px;
}

.data_text {
  font-size: 13px;
  font-family: Helvetica sans-serif;
}