/*  possible to override defaults here */
/*
body {
    background-color: white;
}
*/

/*
.systemContainer {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding-left: 300px;
}
*/

.systemContainer-rect {
    fill: white;
}

.systemContainer-bracket {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.partStave-rect {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width : 0.5;
}

.staveLabel {
    fill: white;
    text-anchor: end;
}

.azimLine {
    stroke: black;
    stroke-width: 1;
}

.FiveLineStave rect {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width : 0.5;
}

.staffline {
    stroke: black;
    stroke-width: 0.5;
}

.notehead {
    fill: black;
}

.duration-line {
    stroke: black;
    stroke-width: 2;
}

.accidental {
    font-size: 23pt;
    font-family: Bravura;
}


.playbar {
    stroke: rgba(255, 0, 0, 0.5);
    stroke-width: 2;
}

.TextSymbol textarea {
    padding: 0px;
    font-family: helvetica; 
    line-height: 20px;
    background-color: transparent;
    border: 0.5px dashed rgba(200, 200, 200, 0.3);
    outline: none;
}

.TextSymbol .symbolist_selected {
    border-color: blue;
  }

.TextSymbol textarea:disabled {
    background-color: transparent;
}

.trajectory {
    stroke-width: 2px;
    stroke: gray;
    fill: none;
    stroke-dasharray: 1;

}

.preview-line {
    stroke-dasharray: 1;
    stroke: black;
    fill: none;
}

.path-handle {
    fill: rgba(0, 0, 0, 0.05);
    stroke: black;
    stroke-width: 1px;
}

.path-preview {
    stroke-width: 2px;
    stroke: blue;
    fill: none;
}


.CartesianPlot-rect {
    fill: white;
}


.basicGL-canvas {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 0.5px dashed rgba(200, 200, 200);
}


.meterbox {
    fill: none;
    stroke: rgba(0, 0, 0, 0.1);
    stroke-width : 0.5;
}

.barline {
    stroke-width: 2px;
    stroke: black;
}

.SnapPoint {
    stroke-width: 1px;
    stroke: black;
}
