body {
  background-color: rgb(50, 50, 50);
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

svg {
  overflow: scroll;
}

.symbolist_selected {
  stroke-width: 1 !important;
  stroke: blue !important;
}

.symbolist_selected line {
  stroke: blue !important;
}

.symbolist_selected rect {
  stroke: blue !important;
}

.current_context .stave_display rect {
  stroke-width: 1 !important;
  stroke: yellow !important;
}

.current_context .stave_display line {
  stroke-width: 1 !important;
  stroke: yellow !important;
}



.symbolist_log {
  border-top : 1px solid rgb(200, 200, 200);
  left: 62px;
  top: calc(100vh - 20px);
  width: calc(100vw - (62px * 2));
  height: 20px;
  font-family: helvetica;
  font-size: 10px;
  color: white;  
}

.symbolist_log span {
  margin: 10px;
}

#info-panel {
  border-left : 1px solid white;
  
  left: calc(100vw - 62px);
  top: 0px;
  width: 62px;
  height: calc(100vh - 2px);
}

#info-panel .object-info {
  font-size: 10px;
}


.palette {  
  background-color: inherit;
  color : white;
  border-right : 1px solid rgb(200, 200, 200);
 
  top: 0px;
  left: 0px;
  width: 62px;
  height: 100vh;

  
}

.palette div {
  position: relative;

  border-bottom : 1px solid rgb(200, 200, 200);
  border-top : 1px solid rgb(200, 200, 200);;

  width: auto;
  height: auto;
}

.palette div .selected {
  border : 1px solid white;
  background-color: gray;
}

.palette-clefs {
  background-color: rgba(255, 255, 255, 0.0);
}


.palette-clefs div {
  background-color: inherit;

  border : 1px solid rgb(200, 200, 200);
  position: relative;
 
  width: auto;
  height: 40px;

  margin: 10%;
  padding: 4%;

}

.palette-svg {
  width: 40px;
  height: 40px;
}

.palette-symbols {
  background-color: rgba(255, 255, 255, 0.1);
}

.palette-symbols div {
  background-color: inherit;

  border : 1px solid rgb(200, 200, 200);
  position: relative;
 
  width: auto;
  height: 40px;

  margin: 10%;
  padding: 4%;

}

.palette svg {

  z-index: 10;
}


.infobox {
  background-color: rgba(255, 255, 255, 0.75);
  border : 1px solid white;
  border-radius: 5px;
  font-family: helvetica;
  font-size: 12px;
  position: absolute;
  
  display: grid;
  grid-template-columns: auto auto;
  align-items: start;
  justify-content: space-between;
  
}

.infoparam {
  padding: 5px 5px 5px 5px;
}

.infovalue-noedit {
  padding: 5px 5px 5px 5px;
  color: gray;
  font-style: italic;
}

.infovalue input {
  padding: 5px 0px 5px 0px;
}